@charset "utf-8";

/* スクロールトリガー */
.fadeInTrigger {
  opacity: 0;
}

.Trigger {
  opacity: 0;
}

/* その場から出現するアニメーション */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* アニメーションタイム調節 */
.delay_time02 {
  animation-delay: .2s;
}
.delay_time03 {
  animation-delay: .3s;
}
.delay_time04 {
  animation-delay: .4s;
}
.delay_time06 {
  animation-delay: .6s;
}
.delay_time08 {
  animation-delay: .8s;
}
.delay_time10 {
  animation-delay: 1s;
}

/* 上下左右から出てくる要素 */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ぼかしから浮き出てくる要素 */
.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
  }
  to {
    filter: blur(0);
    transform: scale(1);
  }
}
