@charset "UTF-8";

* {
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

section {
  padding: 0 4%;
}


a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}